.landing-page{
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 50px;
  font-family: CircularStd-Bold;
}

.sub-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #6A6767;
  font-size: 30px;
  font-family: CircularStd-Book;
}

span{
  display: contents;
  color: #5FB536
}

.photo-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
}

.photo-list li {
  list-style: None;
  padding: 0;
  margin: 0 20px;
  margin-top: 15px;
  box-shadow: 0 8px 6px -6px rgb(129, 129, 129);
}

img{
  width: 300px;
  border-radius: 4px;
}

.btn-success {
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  min-height: 50px;
  min-width: 300px;
  font-size: 20px;
  font-family: CircularStd-Bold;
  background-color: #4475C2 !important;
  border: 0 !important;
}

.btn-success:hover {
  background: #6b98df !important;
}

.login-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* navbar */

nav{
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: center; */
  color: black;
  min-height: 20vh;
  padding: 15px;
}

.nav-links{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-links li{
  font-family: CircularStd-Bold;
  font-size: 25px;
  color: #313131;
  transition: all 50ms ease-in;
}

.nav-links li:hover {
  color: #535353;
}

.nav-img{
  margin-right: auto;
  margin-left: -20px;
  /* margin-top: -10px; */
}

/* footer */
.footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 20vh;
  color: black;
  padding: 30px;
}

@import 'bootstrap/dist/css/bootstrap.min.css';