.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.heading {
  font-family: CircularStd-Bold;
}

span{
  color: #5FB536
}

.sub-heading{
  color: #6A6767;
}

.photo-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
}

.photo-list li {
  margin: 0 20px;
  list-style: None;
  padding: 0;
}

img{
  width: 300px;
  /* border: 1px solid green; */
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px rgb(129, 129, 129);
}