@font-face {
  font-family: 'CircularStd-Book';
  src: local('CircularStd-Book'), url('./fonts/CircularStd-Book.ttf'), format('woff2');
}

body {
  margin: 0;
  font-family: 'CircularStd-Book';
  /* src: local('CircularStd-Book'), url('./fonts/CircularStd-Book'); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-images {
  width: 400;
}

